VITE_UIPATH_CLIENT_ID=
VITE_UIPATH_SCOPE=OR.Execution.Read OR.Folders.Read OR.Jobs.Read OR.License.Read OR.Machines.Read OR.Robots.Read OR.Settings.Read OR.Users.Read
VITE_UIPATH_ORG_NAME=
# Tenant names are case sensitive. Use the exact casing shown in Automation Cloud.
VITE_UIPATH_TENANT_NAME=
VITE_UIPATH_BASE_URL=https://cloud.uipath.com
VITE_UIPATH_REDIRECT_URI=http://localhost:5173
